.button{
    background-color:#cccccc;
}

#button-equal{
    background-color: #74c1f0;
}
#button-equal:hover{
    background-color: #4eaae4;
}

.item2{
    background-color: #74c1f0;
    border: 5px black solid;
}

.container{
    background-color: #eeeeee;
}

#moon-icon{
    display: none;
}